#titulo{
    color:tomato;
}
p.especial{
    color:mediumseagreen;
}
p.texto{
    color:slateblue;
}
div p {
    color:aquamarine;
}
div h2, div h3{
    color:brown;
}
*{
    font-size: 24px;
    /* color:black; */
}

/*Esto es un comentario
que tiene muchaaas
lineas
*/
/* formato hexagesimal
.color{
    color: #ff00ff;
}
formato rgb
.color{
    color: rgb(0, 0, 255)
}

*/
.color{
    /* border: 5px red outset; */
    /*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden   
    
    */
    border-style:solid;
    border-color:blue;
    border-radius:5px;
    border-width: 2rem;
}
#fondo{
    background-color: rgba(255, 0, 0);
    /* opacity: 0.3; */
    height: 300px;
    background-image: url('imagen1.png') ;
    background-size: 50%;
    background-repeat: repeat-y;
    background-position: right top;
    background: red url('imagen1.png') repeat-y center bottom /50px 50px;
}

.margen{
    background-color: chocolate ;
    margin: 15px 20px; /*espacios fuera del elemento*/
    padding: 30px 25px 20px 15px; /*espacios dentro del elemento*/
    border: solid 1px black; 
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;

}
.text{
    font-family: 'Roboto',sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue; /*cuanto la sombra hacia la drch, cuanto la sombra hacia abajo, difuminado*/

}
/* el orden de poner los estados de los links tiene que ser este*/
a:link{
    color: blueviolet;
}
a:visited{
    color: gray;
}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}
ul{
    background-color: cyan;
    list-style-type: georgian;
    /* padding-left: 0; */
    /* list-style-position: inside; */
}
table{
    width: 100%;
    border-collapse: collapse;

}
th, td{
    border: solid 1px grey;
    padding: 5px;
}
th{
    background-color: tomato;
    color: white;
    text-align: left;
}
tr:nth-child(even){
    background-color: blue;
}
tr:hover{
    background-color: gray;
    cursor: pointer;
}
span{
    display: block;
    /* display: none; */
    /* visibility: hidden; */
     max-width: 300px;
    background-color: red;
}
.inline{
    display: inline;
}
#position{
    position: sticky;
    left: 20px;
    top: 25px;
    
}
.left{
    float: left;
    width: 200px;
    height: 200px;
}
.right{
    float: right;
}
.container{
    height: 200px;
}
.column{
    margin: 0;
    padding: 10px 0px;
    width: 33%;
}
.inline-block{
    display: inline-block;
    height: 50px;
    background-color: red;
}
.center{
    text-align: center;
    padding: 5px 0;
    width: 200px;
    margin: 0 auto;
    background-color:aqua;
}